<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        .main-logo {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 160px;
            max-height: 182.19px;
        }
    </style>
</head>
<body>
    <img class="main-logo" src="https://spge-bg.com/wp-content/uploads/2017/05/LogoSPGEwebTr.png">
</body>
</html>
@RenderBody()